html{
    background-image: url(https://t4.ftcdn.net/jpg/03/84/11/51/360_F_384115163_mmVA7l40gCr4GdJm2TMYHVsgYecqU7Y6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}