.keyboard {
    font: 0.8em Arial, sans-serif;
    border: 1px solid #3a3d42;
    background: #767f8b;
    margin-right: 250px;
    height: 312px;
    width: 70%;
    border-radius: 5px;
}

.btn {
    text-shadow: 0 1px 1px white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f9), to(#dddfe1));
    float: left;
    margin: 4px;
    font: 13px Verdana, Tahoma, Arial, Verdana, Helvetica;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .7), 0 1px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    height: 48px px;
}

.space {
    margin: 1%;
    width: 400px;
    margin-right: 35%;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#B5BFCC), to(#5F6D80));
    color: #FFF;
    margin-top: 3%;
}

.textArea {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 5px; 
}